ul#json { margin: 10px 0 0; padding:10px; font-family:monospace; font-size: 12px; background:#F9F9F9; border:1px solid #E9E9E9;}
  ul#json i, ul#json b { color:#555; font-style: normal;}
  ul#json ul {  margin:10px 0 0 20px; padding: 0;}
  ul#json li { padding:0 0 3px; list-style-type: none; margin:0;  color:#888;}
.toggle { cursor:pointer;}